<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.stylefeng.guns.rest.common.persistence.dao.MtimePromoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.stylefeng.guns.rest.common.persistence.model.MtimePromo">
        <id column="uuid" property="uuid" />
        <result column="cinema_id" property="cinemaId" />
        <result column="price" property="price" />
        <result column="start_time" property="startTime" />
        <result column="end_time" property="endTime" />
        <result column="status" property="status" />
        <result column="description" property="description" />
    </resultMap>
    <insert id="insertOrder">

    </insert>
    <select id="selectPromos" resultType="com.stylefeng.guns.rest.promoljq.vo.PromoInfoVo">
        select ct.cinema_address as cinemaAddress, ct.UUID as cinemaId, ct.cinema_name as cinemaName, ct.img_address as imgAddress, pt.start_time as startTime, pt.description ,pt.end_time as endTime , pt.price, pt.UUID as uuid ,pt.`status`, pst.stock from
        mtime_cinema_t ct RIGHT JOIN mtime_promo pt on ct.UUID = pt.cinema_id LEFT JOIN mtime_promo_stock pst on pt.UUID = PST.promo_id
        <where>
            <if test="cinemaId != null">
                pt.cinema_id = #{cinemaId}
            </if>
        </where>
    </select>
    <select id="selectAmountByPromoId" resultType="java.lang.Integer">
        select ps.stock from mtime_promo p LEFT JOIN mtime_promo_stock ps on p.uuid = ps.promo_id
        <where>
            <if test="promoId != null">
                p.uuid = #{promoId}
            </if>
        </where>
    </select>

</mapper>
